# System & IDE files
.DS_Store
Thumbs.db
desktop.ini
.idea/
.vscode/

# Large Archives & Binaries (Over 100MB GitHub limit)
*.zip
*.tar.gz
*.rar
*.exe
*.dmg

# Node & dependencies
node_modules/
**/node_modules/

# App & Electron builds
App/dist/
App/dist-out/
App/dist-release/
App/dist-electron/
App/build/
App/release/
App/android/

# Logs
*.log
push_to_github.bat
